html {
  min-height: 100%;
}

.cont {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

label {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./images/background.png");
  background-repeat: repeat;

  min-height: 100%;
  padding-bottom: 5rem;
}
img{
  margin: 20px;
}
h1,
h2 {
  color: #E61E54;
  text-align: center;
  font-family: "Oswald", sans-serif;
}




.alerta-error {
  background-color: white;
  color: #E61E54;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Staatliches", cursive;
}
